@font-face {
    font-family: trend;
    src: url('fonts/trend_sans_four/Latinotype_TrendSansFour.otf');
}

@trend: trend;
@roboto: 'Roboto', sans-serif;
@slab: 'Roboto Slab', serif;

@red: #e53333;
@green: #1f9956;
@brown: #6e6766;
@gray: #3a3635;
@light-gray: #aba89f;
@tan:#adaaa2;

html {
   height: 100%;
}
body {
   background: #FFFFFF;
   padding: 0;
   font-family: @roboto;
   position: relative;
   margin: 0;
   height: 100%;
   -webkit-font-smoothing: antialiased;
}

.wrapper {
   height: 100% !important;
   height: 100%;
   margin: 0 auto; 
   overflow: hidden;
}

a {
   text-decoration: none;
}


h1, h2 {
   width: 100%;
   float: left;
}
h1 {
   margin-top: 100px;
   margin-bottom: 5px;
   font-size: 70px;
   font-weight: normal;
   font-family: @trend;
}
h2 {
   color: #6D461D;
   font-weight: 100;
   margin-top: 0;
   margin-bottom: 10px;
   font-family: @slab;
}
p{
   font-family: @roboto;
}
.full-nav{
   height: 145px;
   position: absolute;
   top: 0;
   left: 0;
   transition: all .5s;
   .logo{
      width:30%;
      position: relative;
      float: left;
      background-color: transparent;
   }
   .menu{
      width: 70%;
      position: relative;
      float: left;
      text-align: right;
      background-color: transparent;
      @media(max-width:1099px){
         display: none;
      }
      ul{
         list-style: none;
         padding: 0px;
         margin-top: 30px;
         li{
            display: inline-block;
            margin-right: 30px;
            height: 50px;
            @media(min-width:1330px) and (max-width:1500px){
               margin-right: 10px;
            }
            @media(min-width:992px) and (max-width:1329px){
               margin-right: 10px;
            }
            &:hover{
               .sub-nav{
                  display: block;
               }
            }
            a{
               color: white;
               font-size: 16px;
               font-family: @roboto;
               font-weight: bold;
               text-decoration: none;
               @media(min-width:992px) and (max-width:1329px){
                  font-size: 14px;
               }
            }
            &:last-child{
               margin-right: 0px;
            }
            .red-btn{
               @media(min-width:992px) and (max-width:1329px){
                  font-size: 14px;
               }
               @media(min-width:992px) and (max-width:1199px){
                  padding: 7px 10px;
               }
            }
            .sub-nav{
               position: absolute;
               background: url(img/brown-bg.png) repeat;
               width: auto;
               min-width: 275px;
               padding: 20px;
               margin-top: 30px;
               display: none;
               &:before{
                  content: '';
                  height: 10px;
                  width: 160px;
                  background: @red;
                  position: absolute;
                  top: -10px;
                  left: 0;
               }
               ul{
                  margin-top: 0px;
                  li{
                     display: block;
                     text-align: left;
                     height: 30px;
                  }
               }
               a{
                  font-family: @roboto;
                  font-size: 18px;
                  text-transform: none;
                  font-weight: 100;
               }
            }
         }
      }
   }
}
.sticky-nav{
   position: fixed;
   top: 0px;
   left: 0px;
   background-color: #FFF;
   height: 90px;
   transition: all .5s;
   .logo{
      width:30%;
      position: relative;
      float: left;
      background-color: transparent;
   }
   .menu{
      width: 70%;
      position: relative;
      float: left;
      text-align: right;
      background-color: transparent;
      ul{
         list-style: none;
         padding: 0px;
         margin-top: 30px;
         li{
            display: inline-block;
            margin-right: 30px;
            a{
               color: black;
               font-size: 16px;
               font-family: @roboto;
               font-weight: bold;
               text-decoration: none;
            }
            &:last-child{
               margin-right: 0px;
            }
         }
      }
   }
}
.main-nav{
   width: 100vw;
   z-index: 50 !important;
   padding:35px 50px 35px 50px;
   text-transform: uppercase;
}

 .main {
   float: left;
   width: 100%;
   margin: 0 auto;
 }
 
 .main h1 {
   padding:150px 50px;
   float: left;
   width: 100%;
   font-size: 45px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   font-weight: 100;
   color: white;
   margin: 0;
 }

 .main h1.demo1 {
   background: #1ABC9C;
 }
 
 .reload.bell {
   font-size: 12px;
   padding: 20px;
   width: 45px;
   text-align: center;
   height: 47px;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
 }
 
 .reload.bell #notification {
   font-size: 25px;
   line-height: 140%;
 }
 
 .reload, .btn{
   display: inline-block;
   border: 4px solid #A2261E;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   background: #CC3126;
   display: inline-block;
   line-height: 100%;
   padding: 0.7em;
   text-decoration: none;
   color: #fff;
   width: 100px;
   line-height: 140%;
   font-size: 17px;
   font-family: open sans;
   font-weight: bold;
 }
 .reload:hover{
   background: #444;
 }
 .btn {
   width: 200px;
   color: rgb(255, 255, 255);
   border: 4px solid rgb(0, 0, 0);
   background: rgba(3, 3, 3, 0.75);
 }
 .clear {
   width: auto;
 }
 .btn:hover, .btn:hover {
   background: #444;
 }
 .btns {
   width: 410px;
   margin: 50px auto;
 }
 .credit {
   text-align: center;
   color: rgba(0,0,0,0.5);
   padding: 10px;
   width: 410px;
   clear: both;
 }
 .credit a {
   color: rgba(0,0,0,0.85);
   text-decoration: none;
   font-weight: bold;
   text-align: center;
 }
 
 .back {
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
   display: block;
   padding: 7px;
   width: 100%;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   background: rgba(255, 255, 255, 0.25);
   font-weight: bold;
   font-size: 13px;
   color: #000;
   -webkit-transition: all 500ms ease-in-out;
   -moz-transition: all 500ms ease-in-out;
   -o-transition: all 500ms ease-in-out;
   transition: all 500ms ease-in-out;
 }
 .back:hover {
   color: black;
   background: rgba(255, 255, 255, 0.5);
 }
 
 header {
   position: relative;
   z-index: 10;
 }
 .main section  {
   overflow: hidden;
 }
 
 .main section > img {
   position: absolute;
   max-width: 100%;
   z-index: 1;
 }
 
 .main section.page1 {
   .standard-btn{
      display: block;
      margin: 0 auto;
   }
 }
 .main section.page1 h1 {
   padding: 0;
   margin-bottom: 15px;
   font-size: 70px;
   color: #FFF;
   @media(max-width:767px){
      font-size: 36px;
   }
 }
 .main section.page1 h2 {
   color: white;
   text-align: center;
   width: 100%;
   line-height: 160%;
   text-transform: uppercase;
 }
 .main section .page_container .btns {
   clear: both;
   float: left;
   text-align: center;
   width: 435px;
 }
 .main section .page_container .btns a{
   text-align: center;
 }
 .main section.page2 > img {
   position: absolute;
   top: -300px;
   left: 50%;
   margin-left: -1095px;
 }
 .main section.page2 .page_container {
   overflow: hidden;
 }
 .main section.page2 h1 {
   text-align: center;
   padding: 0;
   margin-bottom: 15px;
   font-size: 50px;
   letter-spacing: -1px;
   color: white;
 }
 .main section.page2 h2 {
   color: rgba(255,255,255,0.85);
   text-align: center;
   line-height: 160%;
   font-weight: 100;
 }
 .viewing-page-2 .back{
   background: rgba(0, 0, 0, 0.25);
   color: #FFF;
   }
 .main section.page3 .page_container {
   overflow: hidden;
 }
 
 body.disabled-onepage-scroll .onepage-wrapper  section {
   min-height: 100%;
   height: auto;
 }
 
 body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page3 .page_container  {
   //padding: 20px;
   //margin-top: 150px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 
 body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns{
   text-align: center;
   width: 100%;
 }
 
 body.disabled-onepage-scroll .main section.page1 > img {
   position: absolute;
   width: 80%;
   left: 10%;
 }
 
 body.disabled-onepage-scroll .main section > img {
   position: relative;
   max-width: 80%;
   bottom: 0;
 }
 body.disabled-onepage-scroll code {
   width: 95%;
   margin: 0 auto 25px;
   float: none;
   overflow: hidden;
 }
 
 body.disabled-onepage-scroll .main section.page3 .page_container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   right: 0;
 }

.page1 {
   background: #000;
   @media(max-width:767px){
      background: #000 url('img/loffredo-home-banner.png') no-repeat;
      background-size: cover;
      background-position: 0px 0px;
   }
   .page_container {
      position: absolute;
      top: 50%;
      transform:translateY(-50%);
      max-width: 100vw;
      text-align: center;
      z-index: 3;
      width: 1040px;
      margin-left: -520px;
      left: 50%;
      @media(max-width:767px){
         width: 100%;
         left: 0px;
         margin-left: 0px;
         top: 40%;
      }
      @media(min-width:768px) and (max-width:992px){
         width: 100%;
         left: 0px;
         margin-left: 0px;
         top: 40%;
      }
      h1{
         text-align: center;
      }
   }
   .hero-img{
      height: 100%;
      width: 100%;
      z-index: 1 !important;
      position: relative;
      opacity: 0.6;
      @media (min-aspect-ratio: 16/9) {
        height: 300%;
        top: -100%;
      }

      @media (max-aspect-ratio: 16/9) {
        width: 300%;
        left: -100%;
      }
   }
 }
.page2{
   .page_container{
      width: 100vw;
      .third{
         width: 33.33%;
         height: 100vh;
         float: left;
         padding:100px 50px;
         @media(max-width:991px){
            width: 100%;
         }
         @media(max-width:767px){
            padding: 30px 15px;
         }
         h2{
            font-family: @slab;
            font-size: 48px;
            line-height: 48px;
            text-transform: uppercase;
            font-weight: bold;
            padding-bottom: 30px;
            @media(max-width:767px){
               font-size: 38px;
               line-height: 38px;
            }
         }
         p{
            font-size: 18px;
            font-family: @roboto;
            line-height: 32px;
            color: white;
         }
         .standard-btn{
            margin-top: 30px;
            @media(max-width:767px){
               display: block;
               margin: 30px auto 0px auto;
            }
         }
      }
      .who{
         background: url(img/who-bg.jpg) no-repeat center;
         background-size: cover;
      }
      .customer{
         background: url(img/customer-bg.jpg) no-repeat center;
         background-size: cover;
      }
      .join{
         background: url(img/join-bg.jpg) no-repeat center;
         background-size: cover;
      }
   }
}
.page3{
   .page_container{
      width: 100vw;
      .half{
         width: 50vw;
         height: 100vh;
         float: left;
         padding:100px 50px 0px 50px;
         z-index: 5 !important;
         @media(max-width:991px){
            width: 100vw;
         }
         @media(max-width:767px){
            padding:50px 15px 0px 15px;
         }
         h1{
            text-align: center;
            font-size: 64px;
            line-height: 64px;
            letter-spacing: -.05em;
            padding: 60px 0px;
            @media(max-width:767px){
               font-size: 40px;
               line-height: 40px;
               padding: 25px 0px;
            }
         }
         p{
            font-size: 18px;
            font-family: @roboto;
            line-height: 32px;
            color: white;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            @media(max-width:767px){
               width: 100%;
            }
         }
         .standard-btn{
            margin-top: 30px;
            display: block;
            margin-left: auto;
            margin-right: auto;
         }
      }
      .growers{
         background: url(img/grow-bg.jpg) no-repeat center;
         background-size: cover;
      }
      .safety{
         background: url(img/safety-bg.jpg) no-repeat center;
         background-size: cover;
      }
      .affiliates-container{
         position: absolute;
         bottom: 0px;
         width: 100vw;
         height: 180px;
         background: url(img/white-bg.png) repeat;
         z-index: 6 !important;
         .affiliates{
            width: 960px;
            height: 180px;
            margin: 0 auto;
            @media(max-width:991px){
               width: 100vw;
            }
            .row{
               margin-bottom: 35px !important;
            }
            img{
               width: auto;
               height: 100px;
               margin-top: 40px;
               margin-right: 95px;
               &:last-child{
                  margin-right: 0px;
               }
               @media(max-width:991px){
                  max-width: 100%;
                  height: auto;
                  display: block;
                  margin: 0 auto;
               }
            }
         }
      }
   }
}

.affiliates-container{
   @media(max-width:991px){
      margin-top: 50px;
   }
   .affiliates{
      @media(max-width:991px){
         width: 100vw;
      }
      .row{
         margin-bottom: 35px !important;
         max-width: 100%;
         margin-left: 0px;
         margin-right: 0px;
      }
      img{
         @media(max-width:991px){
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
         }
      }
   }
}
.page4{
   .page_container{
      width: 100vw;
      height: 100%;
      padding:135px 50px 0px 50px;
      background: url(img/fb-bg.png) no-repeat center;
      background-size: cover;
      @media(max-width:767px){
         padding: 50px 15px 0px 15px;
      }
      h1{
         color: @brown;
         font-size: 64px;
         line-height: 64px;
         letter-spacing: -.05em;
         padding: 0px;
         @media(max-width:767px){
            font-size: 40px;
            line-height: 40px;
            text-align: center;
         }
      }
      .fb-posts{
         padding-top: 100px;
         @media(max-width:767px){
            padding-top: 30px;
         }
         iframe{
            width: 100% !important;
            height: 500px !important;
            @media(max-width:767px){
               width: 100%;
               height: auto;
            }
         }
      }
      @media(max-width:767px){
         .green-btn{
            margin: 15px auto 0px auto;
            display: block;
         }
      }
   }
}
.page5{
   position: relative;
   .page_container{
      width: 100vw;
      height: 100%;
      padding:50px 0px;
      background: white;
      position: relative;
      @media(max-width:767px){
         padding: 25px 15px;
      }
      h1{
         color: @brown;
         font-size: 64px;
         line-height: 64px;
         letter-spacing: -.05em;
         padding: 0px;
      }
      .social{
         position: relative;
         height: 50px;
         width: 260px;
         display: block;
         margin: 0 auto;
         text-align: center;
         .icon{
            height: 50px;
            width: 50px;
            background: @green;
            border-radius: 100%;
            float: left;
            margin-right: 20px;
            font-size: 30px;
            transition: all .25s;
            &:last-child{
               margin-right: 0px;
            }
            &:hover{
               background: @red;
               cursor: pointer;
            }
            .fa{
               color: #FFF;
               position: relative;
               top: 3px;
            }
            .fa-twitter{
               left: 2px;
            }
            .fa-linkedin{
               top: 1px;
               left: 2px;
            }
            .fa-youtube-play{
               left: 1px;
            }
         }
      }
      .half{
         position: relative;
         width: 50vw;
         height: auto;
         float: left;
         padding:70px 50px 0px 50px;
         z-index: 5 !important;
         @media(max-width:991px){
            width: 100vw;
            padding: 30px 0px;
         }
      }
      .third{
         position: relative;
         width: 33.33%;
         height: auto;
         float: left;
         @media(max-width:991px){
            width: 100%;
            float: none;
            text-align: center;
         }
      }
      h3{
         color: @brown;
         font-family: @slab;
         font-weight: bold;
         font-size: 32px;
         line-height: 32px;
         @media(max-width:991px){
            text-align: center;
         }
      }
      p{
         width: 500px;
         color: @brown;
         font-size: 18px;
         line-height: 32px !important;
         font-family: @roboto;
         margin-top: 10px;
         @media(max-width:991px){
            width: 100%;
         }
         @media(min-width:768px) and (max-width:991px){
            padding-left: 15px;
            padding-right: 15px;
         }
      }
      .standard-btn{
         border: 2px solid @brown;
         color: @brown;
         transition: all .25s;
         margin-top: 30px;
         @media(max-width:991px){
            display: block;
            margin: 30px auto 0px auto;
         }
         &:hover{
            color: white;
            border: 2px solid white;
         }
      }
      .links{
         div{
            padding-bottom: 5px;
            @media(max-width:991px){
               padding-bottom: 0px;
            }
         }
         p{
            font-size: 16px;
            line-height: 12px;
            @media(max-width:991px){
               border-top: 1px solid @brown;
               padding-bottom: 5px;
               padding-top: 15px;
            }
         }
         a{
            color: @gray;
            text-decoration: none;
         }
         strong{
            line-height: 25px;
         }
      }
      .footer-affiliates{
         position: relative;
         width: 100vw;
         height: 115px;
         z-index: 6 !important;
         margin-top: 30px;
         @media(max-width:767px){
            height: auto;
         }
         .affiliates{
            width: 750px;
            height: 115px;
            margin: 0 auto;
            @media(max-width:767px){
               width: 100vw;
               display: block;
               height: auto;
            }
            img{
               width: auto;
               height: 90px;
               margin-top: 13px;
               margin-right: 40px;
               @media(max-width:767px){
                  width: 35%;
                  height: auto;
                  margin-left: 5%;
                  margin-right: 5%;
               }
               &:last-child{
                  @media(max-width:767px){

                  }
                  margin-right: 0px;
               }
            }
            .center{
               @media(max-width:767px){
                  display: block;
                  margin: 40px auto 0px auto;
               }
            }
         }
      }
      .copy-container{
         position: relative;
         width: 100vw;
         height: auto;
         text-align: center;
         margin-top: 100px;
         a{
            color: @red !important;
            text-decoration: none;
            padding-bottom: 15px;
            font-size: 16px;
         }
         .copy{
            font-size: 16px;
            line-height: 16px;
            color: @brown;
            padding-top: 15px;
            @media(max-width:767px){
               margin-left: -30px;
            }
         }
      }
   }
}
.sub-wrapper{
   position: relative;
   height: auto;
   max-width: 100%;
   overflow-x: hidden;
   .hd-img{
      padding:0px;
      img{
         width: 100vw;
         height: auto;
      }
   }
   .no-hd-img{
      padding: 0px;
   }
   .sub-body{
      //padding-top: 10px;
      h1{
         color: @brown;
         &:after{
            content: '';
            position: relative;
            height: 15px;
            width: 175px;
            background: @green;
         }
         @media(max-width:767px){
            font-size: 40px;
            line-height: 40px;
            margin-top: 30px;
         }
      }
      p, li{
         font-size: 18px;
         line-height: 24px;
         font-family: @roboto;
         color: @gray;
      }
      li{
         list-style: none;
         &:before{
            content: '';
            height: 10px;
            width: 10px;
            background: @red;
            position: absolute;
            margin-left: -20px;
            margin-top: 7px;
         }
      }
      a{
         color: @red;
      }
      .contact-form{
         padding-top: 50px;
         .form-control{
            margin-bottom: 25px;
         }
      }
      .contact-map{
         padding-top: 50px;
         #map{
            height: 600px;
            width: 100%;
         }
         p{
            line-height: 18px;
         }
      }
      .dist-map{
         .standard-btn{
            border: 2px solid @brown;
            color: @brown;
            font-size: 14px;
            padding: 5px 10px;
         }
         .dist-map-container{
            #locationMap{
               height: 800px;
               width: 100%;
            }
         }
      }
   }

   .produce-banner{
      position: relative;
      height: 100vh;
      max-width: 100vw;
      top: 0;
      left: 0;
      background: url(img/products-bg.jpg) no-repeat center;
      background-size: cover;
      .blurb-container{
         background: url(img/black-bg.png) no-repeat center;
         background-size: cover;
         width: 900px;
         height: 600px;
         position: absolute;
         margin-left: -450px;
         left: 50%;
         top: 20%;
         transfrom:translateY(-50%);
         padding: 75px;
         overflow-y: auto;
         @media(max-width:767px){
            height: 400px;
            width: 100%;
            left: 0px;
            margin-left: 0px;
            padding: 15px;
            &:after{
              content: "";
              display: block;
              height: 300px;
              width: 100%;
            }
         }
         @media(min-width:992px){
            &:after{
              content: "";
              display: block;
              height: 75px;
              width: 100%;
            }
         }
         @media(min-width:768px) and (max-width:991px){
            width: 100%;
            left: 0px;
            margin-left: 0px;
            padding: 15px;
            &:after{
              content: "";
              display: block;
              height: 50px;
              width: 100%;
            }
         }
         h1{
            line-height: 60px;
            font-size: 60px;
            color: white;
            margin-top: 0px;
            text-align: center;
            position: relative !important;
            @media(max-width:767px){
               font-size: 40px;
               line-height: 40px;
            }
         }
         h2{
            color: white;
            font-family: @slab;
            font-weight: bold;
         }
         p{
            color: white;
            font-size: 18px;
            line-height: 24px;
            padding-top: 10px;
         }
         a{
            color: @red;
            text-decoration: underline;
         }
         ul{
            color: white;
            font-size: 18px;
            line-height: 24px;
            padding-top: 10px;
            li{
               list-style: none;
               &:before{
                  content: '';
                  height: 10px;
                  width: 10px;
                  background: @red;
                  position: absolute;
                  margin-left: -20px;
                  margin-top: 7px;
               }
            }
         }
      }
      .product-list-container{
         position: absolute;
         background: white;
         width: 100vw;
         height: auto;
         bottom: 0px;
         left: 0px;
         padding-top: 20px;
         padding-bottom: 20px;
            overflow-x: scroll !important;
         .product-list{
            width: 1600px;
            height: auto;
            margin: 0 auto;
            .list-item{
               float: left;
               position: relative;
               width: 12.5%;
               .list-img{
                  max-width: 100%;
                  height: 60px;
                  display: block;
                  margin: 0 auto;
               }
               .list-tag{
                  position: relative;
                  font-size: 18px;
                  line-height: 18px;
                  color: @gray;
                  font-family: @slab;
                  width: 100%;
                  text-align: center;
                  padding-top: 10px;
               }
               .box{
                  height: 5px;
                  width: 45px;
                  position: relative;
                  margin: 0 auto;
                  background: @green;
                  margin-top: 10px;
               }
            }
         }
      }
   }

   .history-banner{
      position: relative;
      height: 100vh !important;
      width: 100vw;
      top: 0;
      left: 0;
      background: url(img/history-bg.jpg) no-repeat center;
      background-size: cover;
      overflow: hidden;
      .history-container{
         position: relative;
         height: auto;
         width: 100%;
         min-height: 100px;
         margin-top: 200px;
         padding-top: 10px;
         @media(max-width:1024px){
            height: 85vh;
            overflow-y: scroll;
            margin-top: 100px;
         }
         .head{
            position: relative;
            width: auto;
            text-align: center;
            @media(max-width:767px){
               border-bottom: 15px solid @green;
            }
            h1{
               position: relative;
               display: inline;
               color: white;
               font-size: 72px;
               line-height: 72px;
               padding-bottom: 15px;
               border-bottom: 15px solid @green;
               float: none;
               @media(max-width:767px){
                  font-size: 50px;
                  border-bottom: none;
               }
            }
         }
         .body{
            position: relative;
            padding-top: 50px;
            h2{color: white;}
            .d1892,.d1918,.d1984,.d1970,.dlate1990s,.d2010,.d2014,.dpresentday{
               display: none;
               //position: absolute;
            }
            .center{
               padding-top: 75px;
               color: white;
               @media(min-width:768px) and (max-width:1024px){
                  &:after{
                    position: relative;
                    content: "";
                    display: block;
                    height: 150px;
                    width: 100%;
                  }
               }
               @media(max-width:767px){
                  padding-top: 50px;
                  &:after{
                     position: relative;
                    content: "";
                    display: block;
                    height: 150px;
                    width: 100%;
                  }
               }
               p{
                  width: 90%;
                  display: block;
                  margin: 0 auto;
                  font-size: 24px;
                  font-family: @slab;
                  font-weight: bold;
                  line-height: 32px;
               }
               ul{
                  padding-top: 25px;
                  text-align: left !important;
                  width: 90%;
                  display: block;
                  margin: 0 auto;
                  font-size: 24px;
                  font-family: @roboto;
                  font-weight: regular;
                  line-height: 24px;
                  list-style: none;
                  position: relative;
                  li{
                     padding-top: 15px;
                     &:before{
                        content: '';
                        height: 10px;
                        width: 10px;
                        background: @red;
                        position: absolute;
                        margin-left: -20px;
                        margin-top: 7px;
                     }
                  }
                  ul{
                     padding-top: 0px;
                  }
               }
            }
            .body-text{
               position: relative;
               .top-left{
                  position: absolute;
                  top: -200px;
                  @media(max-width:767px){
                     position: relative;
                     top: 50px;
                  }
               }
               .bottom-left{
                  position: absolute;
                  margin-top: 175px;
                  margin-left: 100px;
                  @media(max-width:767px){
                     position: relative;
                     marign-top: 0px;
                  }
               }
               .top-right{
                  position: absolute;
                  top: -200px;
                  right: 20px;
                  @media(max-width:767px){
                     position: relative;
                     top: 0px;
                  }
               }
               .bottom-right{
                  position: absolute;
                  margin-top: 150px;
                  margin-left: 0px;
                  @media(max-width:767px){
                     position: relative;
                     margin-top: 0px;
                  }
               }
               .topAnim{
                  animation: 1.5s forwards topAnim;
               }
               .centerAnim{
                  position: relative;
                  animation: 1.5s forwards centerAnim;
               }
               .bottomAnim{
                  animation: 1.5s forwards bottomAnim;
               }
               @media(max-width:767px){
                  @keyframes topAnim{
                     0%{
                        top: 50px;
                     }
                     100%{
                        top: 50px;
                     }
                  }
               }
               @media(min-width:768px) and (max-width:991px){
                  @keyframes topAnim{
                     0%{
                        top: -9999px;
                        transform:rotate(-9999deg);
                     }
                     100%{
                        top: 10px;
                        transform:rotate(0deg);
                     }
                  }
               }
               @media(min-width:992px){
                  @keyframes topAnim{
                     0%{
                        top: -9999px;
                        transform:rotate(-9999deg);
                     }
                     100%{
                        top: -100px;
                        transform:rotate(0deg);
                     }
                  }
               }
               @media(max-width:767px){
                  @keyframes centerAnim{
                     0%{
                     top: 0px;
                     opacity: 1
                     }
                     100%{
                     top: 0px;
                     opacity: 1
                     }
                  }
               }
               @keyframes centerAnim{
                  0%{
                     top: 9999px;
                     opacity: 0;
                  }
                  85%{
                     opacity: 0;
                  }
                  100%{
                     top: 0px;
                     opacity: 1
                  }
               }
               @media(max-width:767px){
                  @keyframes bottomAnim{
                     0%{
                        top: 0px;
                     }
                     100%{
                        top: 0px;
                     }
                  }
               }
               @media(min-width:768px){
                  @keyframes bottomAnim{
                     0%{
                        left: -9999px;
                        transform:rotate(-9999deg);
                     }
                     100%{
                        left: 0px;
                        transform:rotate(0deg);
                     }
                  }
               }
            }
         }
      }
      .date-selector{
         position: absolute;
         bottom: 0px;
         left: 0px;
         width: 100%;
         height: 80px;
         background: #FFF;
         padding-left: 40px;
         padding-right: 40px;
         padding-top: 40px;
         overflow: scroll;
         .dates{
            position: relative;
            border-top: 1px solid @brown;
            text-align: center;
            width: 1604px;
            .date-nav{
               position: absolute;
               top: -56px;
               left: 0px;
               font-size: 70px;
               width: 100%;
               height: 1px;
               color: @tan !important;
               .prev{
                  position: absolute;
                  float: left;
                  left: -40px;
                  transition:all .25s;
                  &:hover{
                     cursor: pointer;
                     color: @red;
                  }
                  @media(max-width:1500px){
                     display: none;
                  }
               }
               .next{
                  position: absolute;
                  float: right;
                  right: -40px;
                  transition:all .25s;
                  &:hover{
                     cursor: pointer;
                     color: @red;
                  }
                  @media(max-width:1500px){
                     display: none;
                  }
               }
            }
            ul{
               padding:none;
               list-style: none;
               li{
                  display: inline-block;
                  font-family: @slab;
                  font-weight: bold;
                  font-size: 18px;
                  color: @gray;
                  text-align: left;
                  margin-right: 125px;
                  transition: all .25s;
                  &:last-child{
                     margin-right: 0px;
                  }
                  &:hover{
                     cursor: pointer;
                     color: @red;
                     .box{
                        background: @red;
                     }
                  }
                  .box{
                     height: 5px;
                     width: 45px;
                     background: @green;
                     position: absolute;
                     top: -6px;
                     transition: all .25s;
                  }
                  .move-left{
                     margin-left: -3px;
                  }
                  .move-right{
                     margin-left: 25px;
                  }
               }
               .active{
                  color: @red !important;
                  .box{
                     background: @red !important;
                  }
               }
            }
         }
      }
   }
   .sub-footer{
      position: relative;
      margin-top: 0px;
      .page_container{
         width: 100vw;
         height: 100%;
         padding:50px 0px;
         background: white;
         position: relative;
         @media(max-width:767px){
            padding: 25px 0px;
         }
         h1{
            color: @brown;
            font-size: 64px;
            line-height: 64px;
            letter-spacing: -.05em;
            padding: 0px;
         }
         .social{
            position: relative;
            height: 50px;
            width: 260px;
            display: block;
            margin: 0 auto;
            text-align: center;
            .icon{
               height: 50px;
               width: 50px;
               background: @green;
               border-radius: 100%;
               float: left;
               margin-right: 20px;
               font-size: 30px;
               transition: all .25s;
               &:last-child{
                  margin-right: 0px;
               }
               &:hover{
                  background: @red;
                  cursor: pointer;
               }
               .fa{
                  color: #FFF;
                  position: relative;
                  top: 3px;
               }
               .fa-twitter{
                  left: 2px;
               }
               .fa-linkedin{
                  top: 1px;
                  left: 2px;
               }
               .fa-youtube-play{
                  left: 1px;
               }
            }
         }
         .half{
            position: relative;
            width: 50vw;
            height: auto;
            float: left;
            padding:70px 50px 0px 50px;
            z-index: 5 !important;
            @media(max-width:991px){
               width: 100vw;
               padding: 30px 15px;
            }
         }
         .third{
            position: relative;
            width: 33.33%;
            height: auto;
            float: left;
            @media(max-width:991px){
               width: 100%;
               float: none;
               text-align: center;
            }
         }
         h3{
            color: @brown;
            font-family: @slab;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            @media(max-width:991px){
               text-align: center;
            }
         }
         p{
            width: 500px;
            color: @brown;
            font-size: 18px;
            line-height: 32px !important;
            font-family: @roboto;
            margin-top: 10px;
            @media(max-width:991px){
               width: 100%;
            }
            @media(min-width:768px) and (max-width:991px){
               padding-left: 15px;
               padding-right: 15px;
            }
         }
         .standard-btn{
            border: 2px solid @brown;
            color: @brown;
            transition: all .25s;
            margin-top: 30px;
            @media(max-width:991px){
               display: block;
               margin: 30px auto 0px auto;
            }
            &:hover{
               color: white;
               border: 2px solid white;
            }
         }
         .links{
            div{
               padding-bottom: 5px;
               @media(max-width:991px){
                  padding-bottom: 0px;
               }
            }
            p{
               font-size: 16px;
               line-height: 12px;
               @media(max-width:991px){
                  border-top: 1px solid @brown;
                  padding-bottom: 5px;
                  padding-top: 15px;
               }
            }
            a{
               color: @gray;
               text-decoration: none;
            }
            strong{
               line-height: 25px;
            }
         }
         .footer-affiliates{
            position: relative;
            width: 100vw;
            height: 115px;
            z-index: 6 !important;
            margin-top: 30px;
            @media(max-width:767px){
               height: auto;
            }
            .affiliates{
               width: 750px;
               height: 115px;
               margin: 0 auto;
               @media(max-width:767px){
                  width: 100vw;
                  display: block;
                  height: auto;
               }
               img{
                  width: auto;
                  height: 90px;
                  margin-top: 13px;
                  margin-right: 40px;
                  @media(max-width:767px){
                     width: 35%;
                     height: auto;
                     margin-left: 5%;
                     margin-right: 5%;
                  }
                  &:last-child{
                     @media(max-width:767px){

                     }
                     margin-right: 0px;
                  }
               }
               .center{
                  @media(max-width:767px){
                     display: block;
                     margin: 40px auto 0px auto;
                  }
               }
            }
         }
         .copy-container{
            position: relative;
            width: 100vw;
            height: auto;
            text-align: center;
            margin-top: 100px;
            a{
               color: @red !important;
               text-decoration: none;
               padding-bottom: 15px;
               font-size: 16px;
            }
            .copy{
               font-size: 16px;
               line-height: 16px;
               color: @brown;
               padding-top: 15px;
               @media(max-width:767px){
                  margin-left: -5px;
               }
            }
         }
      }
   }
}

/* ================= Mobi Nav =============== */
.mobi-nav-container{
   height: 100vh;
   width: 100vw;
   position: fixed;
   top: 0;
   left: 0;
   background: url(img/brown-bg.png) repeat;
   opacity: 0;
   z-index: 9999 !important;
   display: none;
   @media(min-width:1100px){
      display: none;
   }
   .mobi-nav{
      position: relative;
      width: 100%;
      height: 400px;
      text-align: center;
      overflow: scroll;
      top: 50%;
      transform: translateY(-50%);
      p{
         margin-top: 30px;
         margin-bottom: 30px;
         opacity: 0;
         a{
            font-family: @roboto;
            font-size: 30px;
            font-weight: bold;
            color: #FFF;
            text-decoration: none;
            text-transform: uppercase;
         }
      }
   }
   .fadeIn{
      animation: 1.75s ease-out .25s forwards fadeIn;
   }
}
@keyframes fadeIn {
   0% {
      margin-top: 70px;
      opacity: 0;
   }
   100% {
      margin-top: 30px;
      opacity: 1;
   }
}
.bars-container{
   height: 50px;
   width: 75px;
   position: fixed;
   right: 0;
   z-index: 9999 !important;
   @media(min-width:1100px){
      display: none;
   }
}
.c-hamburger {
  display: block;
  position: absolute;
  //top: 15px;
  right: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 60px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
          transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  right: 0px;
  height: 5px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: white;
  content: "";
}

.c-hamburger span::before {
  top: -10px;
}

.c-hamburger span::after {
  bottom: -10px;
}
.c-hamburger--htx {
  background-color: transparent;
  position: absolute;
  z-index: 999999 !important;
}

.c-hamburger--htx span {
  -webkit-transition: background 0s 0.3s;
          transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
          transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
          transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  -webkit-transition-property: top, -webkit-transform;
          transition-property: top, transform;
}

.c-hamburger--htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
          transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  background-color: @red;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  background-color: @red;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
          transition-delay: 0s, 0.3s;
}
// ==================== Animation Effects ================== \\
.zoom-out{
   position: fixed;
   left: 0;
   animation: ease-out 1s forwards zoomOut;
   z-index: 99;
}
.zoom-in{
   position: fixed;
   left: 0;
   animation: ease-out 1s forwards zoomIn;
   z-index: -99;
}

@keyframes zoomOut {
   0% {
      transform:scale(1);
      left: 0px
   }
   50% {
      transform:scale(0.6);
      left: -100px;
      z-index: -99;
   }
   100% {
      transform:scale(1);
      left: 0px;
      z-index: -99;
      display: none;
   }
}
@keyframes zoomIn {
   0% {
      opacity: 0.3;
   }
   50% {
      opacity: 0.7;
   }
   100% {
      opacity: 1;
      z-index: 99;
   }
}
/* =============== End Mobi Nav ============= */

.green-box{
   position: relative;
   height: 15px;
   width: 150px;
   margin: 30px auto 40px auto;
   background: @green;
}

.gray-bar{
   height: 1px;
   width: 90%;
   margin: 50px auto 0px auto;
   background: @light-gray;
}

.red-angle{
   color: @red;
   font-size: 40px;
   font-weight: 100;
   position: relative;
   top: 5px;
   font-family:sans-serif;
   padding:0 5px;
}
.standard-btn{
   height: auto;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   font-family: @roboto;
   font-weight: bold;
   font-size: 18px;
   background-color: transparent;
   color: #FFF;
   padding:7px 40px;
   border: 2px solid #FFF;
   overflow: hidden;
   position: relative;
   .text{
      position: relative;
      z-index: 2 !important;
   }
   &:hover{
      .circle{
         /*
         -webkit-transform: scale( 4 );
         -moz-transform: scale( 4 );
         -o-transform: scale( 4 );
         -ms-transform: scale( 4 );
         */
         transform: scale( 300 );
          
         vertical-align: middle;
      }
   }
}
.red-btn{
   height: auto;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   font-family: @roboto;
   font-weight: bold;
   font-size: 18px;
   background-color: @red;
   color: #FFF;
   padding:7px 40px;
   border: none;
   overflow: hidden;
   position: relative;
   .text{
      position: relative;
      z-index: 2 !important;
   }
   &:hover{
      .circle{
         /*
         -webkit-transform: scale( 4 );
         -moz-transform: scale( 4 );
         -o-transform: scale( 4 );
         -ms-transform: scale( 4 );
         */
         transform: scale( 300 );
          
         vertical-align: middle;
      }
   }
}
.green-btn{
   height: auto;
   width: auto;
   text-align: center;
   text-transform: uppercase;
   font-family: @roboto;
   font-weight: bold;
   font-size: 18px;
   background-color: @green;
   color: #FFF;
   padding:7px 40px;
   border: none;
   overflow: hidden;
   position: relative;
   .text{
      position: relative;
      z-index: 2 !important;
   }
   &:hover{
      .circle{
         /*
         -webkit-transform: scale( 4 );
         -moz-transform: scale( 4 );
         -o-transform: scale( 4 );
         -ms-transform: scale( 4 );
         */
         transform: scale( 300 );
          
         vertical-align: middle;
      }
   }
}

.circle {
    //-webkit-transition: all 0.5s ease-in-out;
    //-moz-transition: all 0.5s ease-in-out;
    //-o-transition: all 2s ease-in-out;
    //-ms-transition: all 2s ease-in-out;
    transition: all .25s ease-in-out;
}

.circle {
   position: absolute;
   left: 49%;
   top: 20px;
    background: @red;
    border-radius: 100%;
    
    -webkit-transform: scale( 0.1 );
    -moz-transform: scale( 0.1 );
    -o-transform: scale( 0.1 );
    -ms-transform: scale( 0.1 );
    transform: scale( 0.1 );
    
    width: 1px;
    height: 1px;
}













